<div class="qa-card">

  <div class="qa-card__header">
    <p class="qa-card__label">QUICK ACTIONS</p>
  </div>

  <div class="qa-card__grid">

    <button class="qa-item"  (click)="openAddForm()">
      <div class="qa-item__icon qa-item__icon--blue">
        <i class="ri-calendar-check-line"></i>
      </div>
      <span>Book appointment</span>
    </button>

    <button class="qa-item">
      <div class="qa-item__icon qa-item__icon--purple">
        <i class="ri-file-list-3-line"></i>
      </div>
      <span>View prescriptions</span>
    </button>

    <button class="qa-item">
      <div class="qa-item__icon qa-item__icon--orange">
        <i class="ri-test-tube-line"></i>
      </div>
      <span>Lab results</span>
    </button>

    <button class="qa-item">
      <div class="qa-item__icon qa-item__icon--teal">
        <i class="ri-message-3-line"></i>
      </div>
      <span>Message doctor</span>
    </button>
  </div>
  <!-- Add Appointment Modal -->
      <div class="modal-overlay" *ngIf="showAddModal" (click)="closeAddForm()">
        <div class="modal-container" (click)="$event.stopPropagation()">
          <app-add-appointment
            (close)="closeAddForm()"
            (added)="closeAddForm(); loadAppointments()">
          </app-add-appointment>
        </div>
      </div>
</div>