<div id="layout-wrapper" (window:resize)="onResize($event)">
    <!-- Top Bar 
    <app-topbar (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar>-->
    <!-- Side Bar -->
    @if(issemiboxLayoutRequested()){
    <app-sidebar-doctor></app-sidebar-doctor>
    }
    @if(isTwoColumnLayoutRequested()){
    <app-two-column-sidebar-doctor></app-two-column-sidebar-doctor>
    }
    <app-sidebar-doctor id="side-bar" class="d-none"></app-sidebar-doctor>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-doctor></app-footer-doctor>
    </div>
</div>