<div id="layout-wrapper">
    <!-- Top Bar -->
    <app-topbar-website (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-website>
  
    <app-horizontal-topbar-website></app-horizontal-topbar-website>
    
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-website></app-footer-website>
    </div>
  </div>
  <!-- Right Side Bar -->
  <app-rightsidebar-website  (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar-website>
