<div id="layout-wrapper" (window:resize)="onResize($event)">
    <!-- Top Bar -->
    <app-topbar-doctor (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-doctor>
    <!-- Side Bar -->
    <!-- <app-sidebar></app-sidebar> -->
     <app-sidebar-doctor></app-sidebar-doctor>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-doctor></app-footer-doctor>
    </div>
</div>
