<div id="layout-wrapper" (window:resize)="onResize($event)">
    <!-- Top Bar -->
    <app-topbar-website (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-website>
    <!-- Side Bar -->
    <!-- <app-sidebar></app-sidebar> -->
     <app-sidebar-website></app-sidebar-website>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-website></app-footer-website>
    </div>
</div>
<!-- Right Side Bar -->
<app-rightsidebar-website (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar-website>