<!-- Vertical layout -->
 @if(isVerticalLayoutRequested()){
<app-vertical></app-vertical>
} 

<!-- Horizontal layout -->
<!-- app-horizontal-Users is charged here -->
 <app-horizontal-website></app-horizontal-website>

@if(isHorizontalLayoutRequested()){
    <!-- app-horizontal-Users is charged here -->
    
<!-- <app-horizontal></app-horizontal> -->
 <!-- <></app-horizontal-Users> -->
}
<!-- Two Columns layout -->
<!-- @if(isTwoColumnLayoutRequested()){ -->
<!-- <app-two-column></app-two-column> -->
<!-- } -->
<!-- Semibox layout -->
<!-- @if(isSemiboxLayoutRequested()){ -->
<!-- <app-vertical></app-vertical>} -->