<div id="layout-wrapper" (window:resize)="onResize($event)">
    <!-- Top Bar -->
    <!-- Side Bar -->
    <app-topbar-patient (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-patient>
    <!-- <app-sidebar></app-sidebar> -->
     <app-sidebar-patient></app-sidebar-patient>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-patient></app-footer-patient>
    </div>
</div>
<!-- Right Side Bar -->
<app-rightsidebar-patient (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar-patient>