<div id="layout-wrapper">
    <!-- Top Bar -->
    <app-topbar-admin (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-admin>
    <!-- Side Bar -->
    <!-- <app-sidebar></app-sidebar> -->
    <app-horizontal-topbar-admin></app-horizontal-topbar-admin>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-admin></app-footer-admin>
    </div>
  </div>
  <!-- Right Side Bar -->
  <app-rightsidebar-admin  (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar-admin>
