<div id="layout-wrapper">
    <!-- Top Bar 
    <app-topbar-user (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-user>-->
  
    <app-horizontal-topbar-patient></app-horizontal-topbar-patient>
    
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-patient></app-footer-patient>
    </div>
  </div>
  <!-- Right Side Bar -->
  <app-rightsidebar-patient  (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar-patient>
